.services{
    margin:80px auto;
    width:90%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}
.i_cons img{
    width: 340px;
    border-radius: 10px;
    display: block;
}



@media (max-width:900px){
    .services { grid-template-columns: repeat(1, 1fr,1); 
    }

    .i_cons img{
        width:150px;
    }
     
}



